<header class="header header--1" data-sticky="true">
  <div class="header__top">
    <div class="ps-container">
      <div class="header__left">
        <div class="menu--product-categories">
          <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Department</span></div>
          <div class="menu__content" style="display: none">
            <ul class="menu--dropdown">
              <li>
                <a href="product-categories/hot-promotions.html">
                  <i class="icon-star"></i>
                  Hot Promotions
                </a>
              </li>
              <li class="menu-item-has-children has-mega-menu">
                <a href="product-categories/electronics.html">
                  <i class="icon-laundry"></i>
                  Electronics
                </a>
                <span class="sub-toggle"></span>
                <div class="mega-menu">
                  <div class="mega-menu__column">
                    <a href="product-categories/consumer-electronic.html">
                      <h4>Consumer Electronic<span class="sub-toggle"></span></h4>
                    </a>
                    <ul class="mega-menu__list">
                      <li><a href="product-categories/home-audio-theaters.html">Home Audio &amp; Theaters</a></li>
                      <li><a href="product-categories/tv-videos.html">TV &amp; Videos</a></li>
                      <li><a href="product-categories/camera-photos-videos.html">Camera, Photos &amp; Videos</a></li>
                      <li><a href="product-categories/cellphones-accessories.html">Cellphones &amp; Accessories</a>
                      </li>
                      <li><a href="product-categories/headphones.html">Headphones</a></li>
                      <li><a href="product-categories/videos-games.html">Videos games</a></li>
                      <li><a href="product-categories/wireless-speakers.html">Wireless Speakers</a></li>
                      <li><a href="product-categories/office-electronic.html">Office Electronic</a></li>
                    </ul>
                  </div>
                  <div class="mega-menu__column">
                    <a href="product-categories/accessories-parts.html">
                      <h4>Accessories &amp; Parts<span class="sub-toggle"></span></h4>
                    </a>
                    <ul class="mega-menu__list">
                      <li><a href="product-categories/digital-cables.html">Digital Cables</a></li>
                      <li><a href="product-categories/audio-video-cables.html">Audio &amp; Video Cables</a></li>
                      <li><a href="product-categories/batteries.html">Batteries</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="product-categories/clothing.html">
                  <i class="icon-shirt"></i>
                  Clothing
                </a>
              </li>
              <li class="menu-item-has-children has-mega-menu">
                <a href="product-categories/computers.html">
                  <i class="icon-desktop"></i>
                  Computers
                </a>
                <span class="sub-toggle"></span>
                <div class="mega-menu">
                  <div class="mega-menu__column">
                    <a href="product-categories/computer-technologies.html">
                      <h4>Computer &amp; Technologies<span class="sub-toggle"></span></h4>
                    </a>
                    <ul class="mega-menu__list">
                      <li><a href="product-categories/computer-tablets.html">Computer &amp; Tablets</a></li>
                      <li><a href="product-categories/laptop.html">Laptop</a></li>
                      <li><a href="product-categories/monitors.html">Monitors</a></li>
                      <li><a href="product-categories/computer-components.html">Computer Components</a></li>
                    </ul>
                  </div>
                  <div class="mega-menu__column">
                    <a href="product-categories/networking.html">
                      <h4>Networking<span class="sub-toggle"></span></h4>
                    </a>
                    <ul class="mega-menu__list">
                      <li><a href="product-categories/drive-storages.html">Drive &amp; Storages</a></li>
                      <li><a href="product-categories/gaming-laptop.html">Gaming Laptop</a></li>
                      <li><a href="product-categories/security-protection.html">Security &amp; Protection</a></li>
                      <li><a href="product-categories/accessories.html">Accessories</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="product-categories/home-kitchen.html">
                  <i class="icon-lampshade"></i>
                  Home &amp; Kitchen
                </a>
              </li>
              <li>
                <a href="product-categories/health-beauty.html">
                  <i class="icon-heart-pulse"></i>
                  Health &amp; Beauty
                </a>
              </li>
              <li>
                <a href="product-categories/jewelry-watch.html">
                  <i class="icon-diamond2"></i>
                  Jewelry &amp; Watch
                </a>
              </li>
              <li>
                <a href="product-categories/technology-toys.html">
                  <i class="icon-desktop"></i>
                  Technology Toys
                </a>
              </li>
              <li>
                <a href="product-categories/phones.html">
                  <i class="icon-smartphone"></i>
                  Phones
                </a>
              </li>
              <li>
                <a href="product-categories/babies-moms.html">
                  <i class="icon-baby-bottle"></i>
                  Babies &amp; Moms
                </a>
              </li>
              <li>
                <a href="product-categories/sport-outdoor.html">
                  <i class="icon-baseball"></i>
                  Sport &amp; Outdoor
                </a>
              </li>
              <li>
                <a href="product-categories/books-office.html">
                  <i class="icon-book2"></i>
                  Books &amp; Office
                </a>
              </li>
              <li>
                <a href="product-categories/cars-motorcycles.html">
                  <i class="icon-car-siren"></i>
                  Cars &amp; Motorcycles
                </a>
              </li>
              <li>
                <a href="product-categories/home-improvements.html">
                  <i class="icon-wrench"></i>
                  Home Improvements
                </a>
              </li>
            </ul>
          </div>
        </div><a class="ps-logo" href="index.htm"><img src="../assets/storage/general/logo.png"
            alt="Martfury - Laravel Ecommerce system" height="40"></a>
      </div>
      <div class="header__center">
        <form class="ps-form--quick-search" action="https://martfury.botble.com/products"
          data-ajax-url="https://martfury.botble.com/ajax/search-products" method="get">
          <div class="form-group--icon">
            <div class="product-cat-label">All</div>
            <select class="form-control product-category-select" name="categories[]">
              <option value="0">All</option>
              <option value="1"> Hot Promotions</option>
              <option value="2"> Electronics</option>
              <option value="3">&nbsp;&nbsp; Consumer Electronic</option>
              <option value="4">&nbsp;&nbsp;&nbsp;&nbsp; Home Audio &amp; Theaters</option>
              <option value="5">&nbsp;&nbsp;&nbsp;&nbsp; TV &amp; Videos</option>
              <option value="6">&nbsp;&nbsp;&nbsp;&nbsp; Camera, Photos &amp; Videos</option>
              <option value="7">&nbsp;&nbsp;&nbsp;&nbsp; Cellphones &amp; Accessories</option>
              <option value="8">&nbsp;&nbsp;&nbsp;&nbsp; Headphones</option>
              <option value="9">&nbsp;&nbsp;&nbsp;&nbsp; Videos games</option>
              <option value="10">&nbsp;&nbsp;&nbsp;&nbsp; Wireless Speakers</option>
              <option value="11">&nbsp;&nbsp;&nbsp;&nbsp; Office Electronic</option>
              <option value="12">&nbsp;&nbsp; Accessories &amp; Parts</option>
              <option value="13">&nbsp;&nbsp;&nbsp;&nbsp; Digital Cables</option>
              <option value="14">&nbsp;&nbsp;&nbsp;&nbsp; Audio &amp; Video Cables</option>
              <option value="15">&nbsp;&nbsp;&nbsp;&nbsp; Batteries</option>
              <option value="16"> Clothing</option>
              <option value="17"> Computers</option>
              <option value="18">&nbsp;&nbsp; Computer &amp; Technologies</option>
              <option value="19">&nbsp;&nbsp;&nbsp;&nbsp; Computer &amp; Tablets</option>
              <option value="20">&nbsp;&nbsp;&nbsp;&nbsp; Laptop</option>
              <option value="21">&nbsp;&nbsp;&nbsp;&nbsp; Monitors</option>
              <option value="22">&nbsp;&nbsp;&nbsp;&nbsp; Computer Components</option>
              <option value="23">&nbsp;&nbsp; Networking</option>
              <option value="24">&nbsp;&nbsp;&nbsp;&nbsp; Drive &amp; Storages</option>
              <option value="25">&nbsp;&nbsp;&nbsp;&nbsp; Gaming Laptop</option>
              <option value="26">&nbsp;&nbsp;&nbsp;&nbsp; Security &amp; Protection</option>
              <option value="27">&nbsp;&nbsp;&nbsp;&nbsp; Accessories</option>
              <option value="28"> Home &amp; Kitchen</option>
              <option value="29"> Health &amp; Beauty</option>
              <option value="30"> Jewelry &amp; Watch</option>
              <option value="31"> Technology Toys</option>
              <option value="32"> Phones</option>
              <option value="33"> Babies &amp; Moms</option>
              <option value="34"> Sport &amp; Outdoor</option>
              <option value="35"> Books &amp; Office</option>
              <option value="36"> Cars &amp; Motorcycles</option>
              <option value="37"> Home Improvements</option>
            </select>
          </div>
          <input class="form-control input-search-product" name="q" type="text" placeholder="I&#039;m shopping for..."
            autocomplete="off">
          <div class="spinner-icon">
            <i class="fa fa-spin fa-spinner"></i>
          </div>
          <button type="submit">Search</button>
          <div class="ps-panel--search-result"></div>
        </form>
      </div>
      <div class="header__right">
        <div class="header__actions">
          <a class="header__extra btn-compare" href="compare.html"><i
              class="icon-chart-bars"></i><span><i>0</i></span></a>
          <a class="header__extra btn-wishlist" href="wishlist.html"><i class="icon-heart"></i><span><i>0</i></span></a>
          <div class="ps-cart--mini">
            <a class="header__extra btn-shopping-cart" href="cart.html"><i
                class="icon-bag2"></i><span><i>0</i></span></a>
            <div class="ps-cart--mobile">
              <div class="ps-cart__content">
                <div class="ps-cart__items ps-cart_no_items">
                  <span class="cart-empty-message">No products in the cart.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="ps-block--user-header">
            <div class="ps-block__left"><i class="icon-user"></i></div>
            <div class="ps-block__right">
              <a href="login.html">Login</a><a href="register.html">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navigation">
    <div class="ps-container">
      <div class="navigation__left">
        <div class="menu--product-categories">
          <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Department</span></div>
          <div class="menu__content" style="display: none">
            <ul class="menu--dropdown">
              <li>
                <a href="product-categories/hot-promotions.html">
                  <i class="icon-star"></i>
                  Hot Promotions
                </a>
              </li>
              <li class="menu-item-has-children has-mega-menu">
                <a href="product-categories/electronics.html">
                  <i class="icon-laundry"></i>
                  Electronics
                </a>
                <span class="sub-toggle"></span>
                <div class="mega-menu">
                  <div class="mega-menu__column">
                    <a href="product-categories/consumer-electronic.html">
                      <h4>Consumer Electronic<span class="sub-toggle"></span></h4>
                    </a>
                    <ul class="mega-menu__list">
                      <li><a href="product-categories/home-audio-theaters.html">Home Audio &amp; Theaters</a></li>
                      <li><a href="product-categories/tv-videos.html">TV &amp; Videos</a></li>
                      <li><a href="product-categories/camera-photos-videos.html">Camera, Photos &amp; Videos</a></li>
                      <li><a href="product-categories/cellphones-accessories.html">Cellphones &amp; Accessories</a>
                      </li>
                      <li><a href="product-categories/headphones.html">Headphones</a></li>
                      <li><a href="product-categories/videos-games.html">Videos games</a></li>
                      <li><a href="product-categories/wireless-speakers.html">Wireless Speakers</a></li>
                      <li><a href="product-categories/office-electronic.html">Office Electronic</a></li>
                    </ul>
                  </div>
                  <div class="mega-menu__column">
                    <a href="product-categories/accessories-parts.html">
                      <h4>Accessories &amp; Parts<span class="sub-toggle"></span></h4>
                    </a>
                    <ul class="mega-menu__list">
                      <li><a href="product-categories/digital-cables.html">Digital Cables</a></li>
                      <li><a href="product-categories/audio-video-cables.html">Audio &amp; Video Cables</a></li>
                      <li><a href="product-categories/batteries.html">Batteries</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="product-categories/clothing.html">
                  <i class="icon-shirt"></i>
                  Clothing
                </a>
              </li>
              <li class="menu-item-has-children has-mega-menu">
                <a href="product-categories/computers.html">
                  <i class="icon-desktop"></i>
                  Computers
                </a>
                <span class="sub-toggle"></span>
                <div class="mega-menu">
                  <div class="mega-menu__column">
                    <a href="product-categories/computer-technologies.html">
                      <h4>Computer &amp; Technologies<span class="sub-toggle"></span></h4>
                    </a>
                    <ul class="mega-menu__list">
                      <li><a href="product-categories/computer-tablets.html">Computer &amp; Tablets</a></li>
                      <li><a href="product-categories/laptop.html">Laptop</a></li>
                      <li><a href="product-categories/monitors.html">Monitors</a></li>
                      <li><a href="product-categories/computer-components.html">Computer Components</a></li>
                    </ul>
                  </div>
                  <div class="mega-menu__column">
                    <a href="product-categories/networking.html">
                      <h4>Networking<span class="sub-toggle"></span></h4>
                    </a>
                    <ul class="mega-menu__list">
                      <li><a href="product-categories/drive-storages.html">Drive &amp; Storages</a></li>
                      <li><a href="product-categories/gaming-laptop.html">Gaming Laptop</a></li>
                      <li><a href="product-categories/security-protection.html">Security &amp; Protection</a></li>
                      <li><a href="product-categories/accessories.html">Accessories</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="product-categories/home-kitchen.html">
                  <i class="icon-lampshade"></i>
                  Home &amp; Kitchen
                </a>
              </li>
              <li>
                <a href="product-categories/health-beauty.html">
                  <i class="icon-heart-pulse"></i>
                  Health &amp; Beauty
                </a>
              </li>
              <li>
                <a href="product-categories/jewelry-watch.html">
                  <i class="icon-diamond2"></i>
                  Jewelry &amp; Watch
                </a>
              </li>
              <li>
                <a href="product-categories/technology-toys.html">
                  <i class="icon-desktop"></i>
                  Technology Toys
                </a>
              </li>
              <li>
                <a href="product-categories/phones.html">
                  <i class="icon-smartphone"></i>
                  Phones
                </a>
              </li>
              <li>
                <a href="product-categories/babies-moms.html">
                  <i class="icon-baby-bottle"></i>
                  Babies &amp; Moms
                </a>
              </li>
              <li>
                <a href="product-categories/sport-outdoor.html">
                  <i class="icon-baseball"></i>
                  Sport &amp; Outdoor
                </a>
              </li>
              <li>
                <a href="product-categories/books-office.html">
                  <i class="icon-book2"></i>
                  Books &amp; Office
                </a>
              </li>
              <li>
                <a href="product-categories/cars-motorcycles.html">
                  <i class="icon-car-siren"></i>
                  Cars &amp; Motorcycles
                </a>
              </li>
              <li>
                <a href="product-categories/home-improvements.html">
                  <i class="icon-wrench"></i>
                  Home Improvements
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navigation__right">
        <ul class="menu">
          <li class="   current-menu-item ">
            <a href="/">
              Home
            </a>
          </li>
          <li class=" menu-item-has-children   ">
            <a href="#">
              Pages
            </a>
            <span class="sub-toggle"></span>
            <ul class="sub-menu">
              <li>
                <a href="about-us.html">
                  About us
                </a>
              </li>
              <li>
                <a href="terms-of-use.html">
                  Terms Of Use
                </a>
              </li>
              <li>
                <a href="terms-conditions.html">
                  Terms &amp; Conditions
                </a>
              </li>
              <li>
                <a href="refund-policy.html">
                  Refund Policy
                </a>
              </li>
              <li>
                <a href="coming-soon.html">
                  Coming soon
                </a>
              </li>
            </ul>
          </li>
          <li class=" menu-item-has-children   ">
            <a href="products.html">
              Shop
            </a>
            <span class="sub-toggle"></span>
            <ul class="sub-menu">
              <li>
                <a href="products.html">
                  All products
                </a>
              </li>
              <li>
                <a href="product-categories/batteries.html">
                  Products Of Category
                </a>
              </li>
              <li>
                <a href="products/beat-headphone.html">
                  Product Single
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="stores.html">
              Stores
            </a>
          </li>
          <li>
            <a href="blog.html">
              Blog
            </a>
          </li>
          <li>
            <a href="faqs.html">
              FAQs
            </a>
          </li>
          <li>
            <a href="contact.html">
              Contact
            </a>
          </li>
        </ul>
        <ul class="navigation__extra">
          <li><a href="login.html">Sell On Martfury</a></li>
          <li><a href="orders/tracking.html">Track your order</a></li>
          <li>
            <div class="ps-dropdown">
              <a href="orders/tracking.html"><span>USD</span></a>
              <ul class="ps-dropdown-menu">
                <li><a href="orders/tracking.html"><span>EUR</span></a></li>
                <li><a href="orders/tracking.html"><span>VND</span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="ps-dropdown language">
              <span>
                <img src="../assets/vendor/core/core/base/images/flags/us.svg" title="English" width="16" alt="English">
                English
              </span>
              <ul class="ps-dropdown-menu ">
                <li>
                  <a href="vi.html">
                    <img src="../assets/vendor/core/core/base/images/flags/vn.svg" title="Tiếng Việt" width="16"
                      alt="Tiếng Việt"> <span>Tiếng Việt</span> </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>