<div>
    <div class="ps-newsletter mt-40">
      <div class="ps-container newsletter-form">
        <form class="ps-form--newsletter" method="post" action="https://martfury.botble.com/newsletter/subscribe">
          <div class="row">
            <div class="col-xl-5">
              <div class="ps-form__left">
                <h3>Join Our Newsletter Now</h3>
                <p>Subscribe to get information about products and coupons</p>
              </div>
            </div>
            <div class="col-xl-7">
              <div class="ps-form__right">
                <input type="hidden" name="_token" value="ZLzRde8mWNN9n7cCJbjJWhDOXwEIbuaFPq6dbxwz">
                <div class="form-group--nest">
                  <input class="form-control" name="email" type="email" placeholder="Email address">
                  <button class="ps-btn" type="submit">Subscribe</button>
                </div>
                <div style="margin-top: 10px;">
                  <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response-6273a74e28213">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="ps-footer">
    <div class="ps-container">
      <div class="ps-footer__widgets">
        <aside class="widget widget_footer widget_contact-us">
          <h4 class="widget-title">Contact us</h4>
          <div class="widget_content">
            <p>Call us 24/7</p>
            <h3>1800 97 97 69</h3>
            <p>502 New Street, Brighton VIC, Australia <br><a
                href="cdn-cgi/l/email-protection.html#86e5e9e8f2e7e5f2c6ebe7f4f2e0f3f4ffa8e5e9"><span
                  class="__cf_email__"
                  data-cfemail="71121e1f05101205311c100305170403085f121e">[email&#160;protected]</span></a></p>
            <ul class="ps-list--social">
              <li>
                <a href="index-1.htm" title="Facebook" style="color: #3b5999">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="index-2.htm" title="Twitter" style="color: #55ACF9">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="index-3.htm" title="Instagram" style="color: #E1306C">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="index-4.htm" title="Youtube" style="color: #FF0000">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <aside class="widget widget_footer">
          <h4 class="widget-title">Quick links</h4>
          <ul class="ps-list--link">
            <li>
              <a href="terms-of-use.html">
                <span>Terms Of Use</span>
              </a>
            </li>
            <li>
              <a href="terms-conditions.html">
                <span>Terms &amp; Conditions</span>
              </a>
            </li>
            <li>
              <a href="refund-policy.html">
                <span>Refund Policy</span>
              </a>
            </li>
            <li>
              <a href="faqs.html">
                <span>FAQs</span>
              </a>
            </li>
            <li>
              <a href="https://martfury.botble.com/nothing">
                <span>404 Page</span>
              </a>
            </li>
          </ul>
        </aside>
        <aside class="widget widget_footer">
          <h4 class="widget-title">Company</h4>
          <ul class="ps-list--link">
            <li>
              <a href="about-us.html">
                <span>About us</span>
              </a>
            </li>
            <li>
              <a href="affiliate.html">
                <span>Affiliate</span>
              </a>
            </li>
            <li>
              <a href="career.html">
                <span>Career</span>
              </a>
            </li>
            <li>
              <a href="contact.html">
                <span>Contact us</span>
              </a>
            </li>
          </ul>
        </aside>
        <aside class="widget widget_footer">
          <h4 class="widget-title">Business</h4>
          <ul class="ps-list--link">
            <li>
              <a href="blog.html">
                <span>Our blog</span>
              </a>
            </li>
            <li>
              <a href="cart.html">
                <span>Cart</span>
              </a>
            </li>
            <li>
              <a href="login.html">
                <span>My account</span>
              </a>
            </li>
            <li>
              <a href="products.html">
                <span>Shop</span>
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="ps-footer__links" id="footer-links">

      </div>
      <div class="ps-footer__copyright">
        <p>© 2022 Martfury. All Rights Reserved.</p>
        <div class="footer-payments">
          <span class="payment-method-title">We Using Safe Payment For:</span>
          <p class="d-sm-inline-block d-block">
            <span><img src="../assets/storage/general/payment-method-1.jpg" alt="payment method"></span>
            <span><img src="../assets/storage/general/payment-method-2.jpg" alt="payment method"></span>
            <span><img src="../assets/storage/general/payment-method-3.jpg" alt="payment method"></span>
            <span><img src="../assets/storage/general/payment-method-4.jpg" alt="payment method"></span>
            <span><img src="../assets/storage/general/payment-method-5.jpg" alt="payment method"></span>
          </p>
        </div>
      </div>
    </div>
  </footer>